.ChatBox-container {
  width: 750px;
  height: 80vh;
  max-width: 1100px;
  background-color: aliceblue;
  margin-right: 24px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  margin-top: 42px;
  position: static;
}
.chat-header {
  margin: 22px;
  padding-top: 22px;
}
.chat-header-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 22px;
  font-weight: 600;
  font-family: "Roboto";
}
.title-sub {
  font-size: 16px;
  font-family: "Roboto";
  color: #2d033b;
  margin-bottom: 22px;
}
.profile {
  width: 30px;
}
.profile-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chat-body {
  width: max-content;
  width: 750px;
  height: 45vh;
  overflow-y: auto;
  overflow-x: auto;
  padding-left: 22px;
}
li {
  list-style-type: none;
}
.user-n {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: #fff;
  font-size: 26px;
}
.chatbody-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.user-name {
  font-size: 26px;
  font-weight: 600;
  font-family: "Roboto";
  margin-left: 12px;
  margin-right: 12px;
}
h4 {
  font-weight: normal;
}
.messages {
  margin-left: 12px;
  background-color: #fff;
  font-size: 22px;
  font-family: "Roboto";
  padding: 8px 18px;
  border-top-left-radius: 0px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  flex-shrink: 2;
}
.like-icon {
  width: 20px;
}
.count {
  border: none;
  background-color: transparent;
  color: black;
  font-size: 26px;
}
span {
  font-size: 22px;
}


